backend/.idea/
backend/node_modules
backend/package.json
backend/package-lock.json
backend/.env
frontend/.idea/
frontend/node_modules
frontend/README.ms
frontend/package-lock.json
frontend/package.json

